HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
**/logs/"" 
"# React build output in static" 
"app-api/src/main/resources/static/assets/" 
"app-api/src/main/resources/static/index.html" 
"app-api/src/main/resources/static/vite.svg" 

app-api/src/main/resources/static/*
!app-api/src/main/resources/static/.gitkeep
